@import url("font-awesome/css/font-awesome.min.css");

* {
	display: block;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	text-align: center;
	justify-content: center;
}

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
}

body {
	background: #fff;
	font-family: "opensans-regular", sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;
	color: #838c95;

	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

h1,
h2,
h3 {
	color: #313131;
	font-family: "opensans-bold", sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 38px;
	line-height: 42px;
	margin-bottom: 12px;
	letter-spacing: -1px;
}
h2 {
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 6px;
}
h3 {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 12px;
}

p {
	margin: 0 0 30px 0;
}

em {
	font: 15px/30px "opensans-italic", sans-serif;
}

a,
a:visited {
	text-decoration: none;
	outline: 0;
	color: #11abb0;

	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

p a,
p a:visited {
	line-height: inherit;
}

ul {
	margin-bottom: 24px;
	margin-top: 12px;
	list-style: none outside;
}
ul {
	list-style: none outside;
}

li {
	line-height: 18px;
	margin-bottom: 12px;
}

img {
	max-width: 100%;
	height: auto;
}

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font: 16px/30px "opensans-bold", sans-serif;
	background: #11abb0;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 0;
	color: #fff;
	padding: 12px 20px;
	margin-bottom: 18px;
	border: none;
	cursor: pointer;
	height: auto;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.row .row {
	width: auto;
	max-width: none;
	margin: 0 -20px;
}

.row:before,
.row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;
}

.column,
.columns {
	position: relative;
	padding: 0 20px;
	min-height: 1px;
	float: left;
}

[class*="column"] + [class*="column"]:last-child {
	float: right;
}

/* column widths */

.row .three {
	width: 25%;
}
.row .nine {
	width: 75%;
}

.row .twelve {
	width: 100%;
}

@media only screen and (max-width: 767px) {
	.row {
		width: 460px;
		margin: 0 auto;
		padding: 0;
	}
	.column,
	.columns {
		width: auto !important;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding: 0 30px;
	}
	.row .row {
		width: auto;
		max-width: none;
		margin: 0 -30px;
	}

	[class*="column"] + [class*="column"]:last-child {
		float: none;
	}
	[class*="bgrid"] [class*="column"] + [class*="column"]:last-child {
		float: none;
	}
}

@media only screen and (max-width: 460px) {
	.row {
		width: auto;
	}
}

@media screen and (min-width: 1200px) {
	.wide .row {
		max-width: 1180px;
	}
}

@media only screen and (max-width: 1024px) {
	header .banner-text h1 {
		font: 80px/1.1em "opensans-bold", sans-serif;
		letter-spacing: -1px;
		margin: 0 auto 12px auto;
	}
}

@media only screen and (max-width: 900px) {
	header .banner {
		padding-bottom: 12px;
	}
	header .banner-text h1 {
		font: 78px/1.1em "opensans-bold", sans-serif;
		letter-spacing: -1px;
	}
	header .banner-text h3 {
		font: 17px/1.9em "librebaskerville-regular", serif;
		width: 80%;
	}
	header .banner-text hr {
		width: 65%;
		margin: 12px auto;
	}

	#nav-wrap {
		font: 11px "opensans-bold", sans-serif;
		letter-spacing: 1.5px;
	}

	#about .profile-pic {
		width: 114px;
		height: 114px;
		margin-left: 12px;
	}
	#about .contact-details {
		width: 50%;
	}
	#about .download {
		width: 50%;
	}

	#resume h1 {
		font: 16px/24px "opensans-bold", sans-serif;
	}
	#resume .main-col {
		padding-right: 5%;
	}
}

@media only screen and (max-width: 767px) {
	#nav-wrap {
		font: 12px "opensans-bold", sans-serif;
		background: transparent !important;
		letter-spacing: 1.5px;
		width: auto;
		position: fixed;
		top: 0;
		right: 0;
	}
	#nav-wrap > a {
		width: 48px;
		height: 48px;
		text-align: left;
		background-color: #cc5200;
		position: relative;
		border: none;
		float: right;

		font: 0/0 a;
		text-shadow: none;
		color: transparent;

		position: relative;
		top: 0px;
		right: 30px;
	}

	#nav-wrap > a:before,
	#nav-wrap > a:after {
		position: absolute;
		border: 2px solid #fff;
		top: 35%;
		left: 25%;
		right: 25%;
		content: "";
	}
	#nav-wrap > a:after {
		top: 60%;
	}

	#nav-wrap:not(:target) > a:first-of-type,
	#nav-wrap:target > a:last-of-type {
		display: block;
	}

	#nav-wrap ul#nav {
		height: auto;
		display: none;
		clear: both;
		width: auto;
		float: right;

		position: relative;
		top: 12px;
		right: 0;
	}

	#nav-wrap:target > ul#nav {
		display: block;
		padding: 30px 20px 48px 20px;
		background: #1f2024;
		margin: 0 30px;
		clear: both;
	}

	ul#nav li {
		display: block;
		height: auto;
		margin: 0 auto;
		padding: 0 4%;
		text-align: left;
		border-bottom: 1px solid #2d2e34;
		border-bottom-style: dotted;
	}

	ul#nav li a {
		display: block;
		margin: 0;
		padding: 0;
		margin: 12px 0;
		line-height: 16px;
		border: none;
	}

	header .banner {
		padding-bottom: 12px;
		padding-top: 6px;
	}
	header .banner-text h1 {
		font: 68px/1.1em "opensans-bold", sans-serif;
	}
	header .banner-text h3 {
		font: 16px/1.9em "librebaskerville-regular", serif;
		width: 85%;
	}
	header .banner-text hr {
		width: 80%;
		margin: 18px auto;
	}

	/* header social links */
	header .social {
		margin: 18px 0 24px 0;
		font-size: 24px;
		line-height: 36px;
	}
	header .social li {
		margin: 0 10px;
	}

	header .scrolldown {
		display: none;
	}

	#about .profile-pic {
		display: none;
	}
	#about .download .button {
		width: 100%;
		text-align: center;
		padding: 15px 20px;
	}
	#about .main-col {
		padding-right: 30px;
	}

	#resume .header-col {
		padding-top: 0;
		margin-bottom: 48px;
		text-align: center;
	}
	#resume h1 {
		letter-spacing: 3px;
	}
	#resume .main-col {
		padding-right: 30px;
	}
	#resume h3,
	#resume .info {
		text-align: center;
	}

	.bars {
		width: 100%;
	}

	#portfolio-wrapper .columns {
		margin-bottom: 40px;
	}
	.popup-modal {
		max-width: 85%;
	}

	.flex-control-nav {
		text-align: center;
		margin-left: -30px;
	}

	footer .copyright li:before {
		content: none;
	}
	footer .copyright li {
		margin-right: 12px;
	}

	footer .social-links {
		font-size: 22px;
	}
	footer .social-links li {
		margin-left: 18px;
	}

	/* Go To Top Button */
	#go-top {
		margin-left: -22px;
	}
	#go-top a {
		width: 54px;
		height: 54px;
		font-size: 18px;
		line-height: 54px;
	}
}

@media only screen and (max-width: 480px) {
	#nav-wrap ul#nav {
		width: auto;
		float: none;
	}

	header .banner {
		padding-top: 24px;
	}
	header .banner-text h1 {
		font: 40px/1.1em "opensans-bold", sans-serif;
		margin: 0 auto 24px auto;
	}
	header .banner-text h3 {
		font: 14px/1.9em "librebaskerville-regular", sans-serif;
		width: 90%;
	}

	header .social {
		font-size: 20px;
	}
	header .social li {
		margin: 0 6px;
	}

	footer .social-links {
		font-size: 20px;
	}
	footer .social-links li {
		margin-left: 14px;
	}
}

body {
	background: #0f0f0f;
}

header {
	position: relative;
	height: 800px;
	min-height: 500px;
	width: 100%;
	background: #161415 url("/images/values.jpg") no-repeat top center;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	text-align: center;
	overflow: hidden;
}

#nav-wrap {
	background-color: #0f0f0f;
	opacity: 0.7;
}

.banner-text {
	border: 10px;
	background-color: black;
	opacity: 0.9;

	z-index: -2;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0px 2px 8px 4px rgba(108, 106, 106, 0.1);
}

header:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
header .banner {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	width: 85%;
	padding-bottom: 30px;
	text-align: center;
}

header .banner-text {
	width: 100%;
	z-index: 1;
}
header .banner-text h1 {
	font: 90px/1.1em "opensans-bold", sans-serif;
	color: #fff;
	letter-spacing: -2px;
	margin: 0 auto 18px auto;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
	z-index: 1;
}
header .banner-text h3 {
	font: 18px/1.9em "librebaskerville-regular", serif;
	color: #a8a8a8;
	margin: 0 auto;
	width: 70%;
	z-index: 1;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
header .banner-text h3 span,
header .banner-text h3 a {
	color: #fff;
}
header .banner-text hr {
	width: 60%;
	margin: 18px auto 24px auto;
	border-color: #2f2d2e;

	border-color: rgba(150, 150, 150, 0.1);
}

header .social {
	margin: 24px 0;
	padding: 0;
	font-size: 30px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
header .social li {
	display: inline-block;
	margin: 0 15px;
	padding: 0;
}
header .social li a {
	color: #fff;
}
header .social li a:hover {
	color: #11abb0;
}

header .scrolldown a {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -29px;
	color: #fff;
	display: block;
	height: 42px;
	width: 42px;
	font-size: 42px;
	line-height: 42px;
	color: #fff;
	border-radius: 100%;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
header .scrolldown a:hover {
	color: #11abb0;
}

#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav-wrap */
#nav-wrap {
	font: 12px "opensans-bold", sans-serif;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0 auto;
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
}

ul#nav {
	min-height: 48px;
	width: auto;

	/* center align the menu */
	text-align: center;
}
ul#nav li {
	position: relative;
	list-style: none;
	height: 48px;
	display: inline-block;
}

/* Links */
ul#nav li a {
	/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

	display: inline-block;
	padding: 8px 13px;
	line-height: 32px;
	text-decoration: none;
	text-align: left;
	color: #fff;
}

ul#nav li a:active {
	background-color: transparent !important;
}
ul#nav li.current a {
	color: #f06000;
}

#about {
	background: #2b2b2b;
	padding-top: 96px;
	padding-bottom: 66px;
	overflow: hidden;
}

#about a,
#about a:visited {
	color: #fff;
}
#about a:hover,
#about a:focus {
	color: #11abb0;
}

#about h2 {
	font: 22px/30px "opensans-bold", sans-serif;
	color: #fff;
	margin-bottom: 12px;
}
#about p {
	line-height: 30px;
	color: #7a7a7a;
}
#about .profile-pic {
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 100%;
}
#about .contact-details {
	width: 41.66667%;
}
#about .download {
	width: 58.33333%;
	padding-top: 6px;
}
#about .main-col {
	padding-right: 5%;
}
#about .download .button {
	margin-top: 6px;
	background: #444;
}
#about .download .button:hover {
	background: #fff;
	color: #2b2b2b;
}
#about .download .button i {
	margin-right: 15px;
	font-size: 20px;
}

#resume {
	background: #fff;
	padding-top: 90px;
	padding-bottom: 72px;
	overflow: hidden;
}

#resume a,
#resume a:visited {
	color: #11abb0;
}
#resume a:hover,
#resume a:focus {
	color: #313131;
}

#resume h1 {
	font: 18px/24px "opensans-bold", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#resume h1 span {
	border-bottom: 3px solid #11abb0;
	padding-bottom: 6px;
}
#resume h3 {
	font: 25px/30px "opensans-bold", sans-serif;
}

#resume .header-col {
	padding-top: 9px;
}
#resume .main-col {
	padding-right: 10%;
}

.education,
.work {
	margin-bottom: 48px;
	padding-bottom: 24px;
	border-bottom: 1px solid #e8e8e8;
}
#resume .info {
	font: 16px/24px "librebaskerville-italic", serif;
	color: #6e7881;
	margin-bottom: 18px;
	margin-top: 9px;
}
#resume .info span {
	margin-right: 5px;
	margin-left: 5px;
}
#resume .date {
	font: 15px/24px "opensans-regular", sans-serif;
	margin-top: 6px;
}

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
	margin-top: 36px;
	list-style: none;
}
.bars li {
	position: relative;
	margin-bottom: 60px;
	background: #ccc;
	height: 42px;
	border-radius: 3px;
}
.bars li em {
	font: 15px "opensans-bold", sans-serif;
	color: #313131;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	top: -36px;
}
.bar-expand {
	position: absolute;
	left: 0;
	top: 0;

	margin: 0;
	padding-right: 24px;
	background: #313131;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	border-radius: 3px 0 0 3px;
}

.research {
	width: 90%;
}
.advocacy {
	width: 95%;
}
.design {
	width: 92%;
}
.fullstack {
	width: 93%;
}
.Management {
	width: 99%;
}

#portfolio {
	background: #ebeeee;
	padding-top: 90px;
	padding-bottom: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#friends {
	background: black;
	padding-top: 90px;
	padding-bottom: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* friends section */

.container {
	height: 100vh;
	width: 100vw;
	max-height: 800px;
	max-width: 1280px;
	min-height: 600px;
	min-width: 1000px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}
.border {
	height: 369px;
	width: 290px;
	background: transparent;
	border-radius: 10px;
	transition: border 1s;
	position: relative;
}
.border:hover {
	border: 1px solid #fff;
}
.card {
	height: 379px;
	width: 300px;
	background: #808080;
	border-radius: 10px;
	transition: background 0.8s;
	overflow: hidden;
	background: #000;
	box-shadow: 0 70px 63px -60px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.card0 {
	background: url("/images/1615527431323.jpg") center center no-repeat;
	background-size: 300px;
}
.card0:hover {
	background: url("/images/1615527431323.jpg") left center no-repeat;
	background-size: 600px;
}
.card0:hover h2 {
	opacity: 1;
}
.card0:hover .fa {
	opacity: 1;
}
.card1 {
	background: url("/images/1552327571593.jpg") center center no-repeat;
	background-size: 300px;
}
.card1:hover {
	background: url("/images/1552327571593.jpg") left center no-repeat;
	background-size: 600px;
}
.card1:hover h2 {
	opacity: 1;
}
.card1:hover .fa {
	opacity: 1;
}
.card2 {
	background: url("/images/1624041378775.jpg") center center no-repeat;
	background-size: 300px;
}
.card2:hover {
	background: url("/images/1624041378775.jpg") left center no-repeat;
	background-size: 600px;
}
.card2:hover h2 {
	opacity: 1;
}
.card2:hover .fa {
	opacity: 1;
}
h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	margin: 20px;
	opacity: 0;
	transition: opacity 1s;
}
.fa {
	opacity: 0;
	transition: opacity 1s;
}

/* Friend section ends */
footer {
	padding-top: 48px;
	margin-bottom: 48px;
	color: #303030;
	font-size: 14px;
	text-align: center;
	position: relative;
}

footer a,
footer a:visited {
	color: #525252;
}

footer .copyright {
	margin: 0;
	padding: 0;
}
footer .copyright li {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 24px;
}

footer .copyright li:before {
	content: "\2022";
	padding-left: 10px;
	padding-right: 10px;
	color: #095153;
}
footer .copyright li:first-child:before {
	display: none;
}

/* social links */
footer .social-links {
	margin: 18px 0 30px 0;
	padding: 0;
	font-size: 30px;
}
footer .social-links li {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 42px;
	color: #f06000;
}

footer .social-links li:first-child {
	margin-left: 0;
}

#go-top {
	position: absolute;
	top: -24px;
	left: 50%;
	margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	color: #fff;
	font-size: 21px;
	line-height: 60px;
	border-radius: 100%;
}
#go-top a:hover {
	background-color: #0f9095;
}
